@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.particle {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s linear;
    z-index: 1;
}
  